@import "~bootstrap/dist/css/bootstrap.min.css";

.carta {
  width: 375px;
  height: 500px;
  border-radius: 5%;
}

.palo {
  font-size: 550%;
  padding-left: 20px;
}

.numero {
  font-size: 800%;
  padding-top: 25px;
}

.palorotado {
  float: right;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  font-size: 550%;
  padding-left: 20px;
}
